<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Estudiante</title>
</head>
<body>


<form th:action="@{/save}" th:object="${contribuyente}" method="post">
<label>Nombre</label>
<input type="text" th:field="*{nombre}"><br>
<span th:errors="*{nombre}" style="color: red;"></span><br>
<label>Apellido</label>
<input type="text" th:field="*{apellido}"><br>
<span th:errors="*{apellido}" style="color: red;"></span><br>
<label>Nit</label>
<input type="text" th:field="*{nit}"><br>
<span th:errors="*{nit}" style="color: red;"></span><br>



 <select class="form-control" name="idimp"  id="idimp">
    <option th:each="importancia_i : ${importancias}" th:value="${importancia_i.id_importancia}" th:text="${importancia_i.importancia}"></option>
    </select>
    <span th:errors="*{importancia}" style="color: red;"></span><br>
    


<label>Guardar</label>
<input type="submit" value="guardar">




</form>

<form th:action="@{/listado}" method="get">
<label>listado</label>
<input type="submit" value="listado">
</form>


</body>
</html>